@import url("base/button.css");
@import url("base/text-box.css");
@import url("base/input-icon.css");
@import url("base/dropdown.css");
@import url("base/button-icon.css");
@import url("base/table.css");
@import url("base/combo-box.css");

@import url("layout/pagination.css");
@import url("layout/header.css");
@import url("layout/content.css");
@import url("layout/menu.css");

body {
  font-family: MisaGoogleSans;
  font-size: 13px;
  margin: 0;
}
@font-face {
  font-family: MisaGoogleSans;
  src: url(../content/font/GoogleSans-Regular.otf);
}
@font-face {
  font-family: MisaGoogleSans-Bold;
  src: url(../content/font/GoogleSans-Bold.otf);
}
@font-face {
  font-family: MisaGoogleSans-Medium;
  src: url(../content/font/GoogleSans-Medium.otf);
}
:root {
  --primary: #01b075;
  --hover: #2fbe8e;
  --default: #019160;
  --focus: #ebf9f4;
  --color-red: #f65454;
  --color: #ffebeb;
  --color-blue: #0075ff;
  --color-blue-sky: #ebf4ff;
  --color-orange: #ff6900;
  --color-orange-pink: #fff3eb;
  --color-000: #000000;
  --color-45: #454545;
  --color-bbb: #bbbbbb;
  --color-e5: #e5e5e5;
  --color-e9: #e9ebee;
}
