/* The check-box */
.check-box {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  width: 15px;
  height: 15px;
}

/* Hide the browser's default checkbox */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  z-index: 2;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
  background-color: #01b075;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-box input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-box .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
