.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.popup .body-popup {
  position: relative;
  margin: 100px auto 0;
  border-radius: 4px;
  width: 30%;
  background: #fff;
}
.popup .body-popup .title-popup {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  padding: 0 24px;
}

.popup .body-popup .content-popup {
  display: flex;
  align-items: center;
  margin: 24px 0;
  padding: 0 24px;
}
.popup .body-popup .content-popup .icon {
  border-radius: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #e9ebee;
}

.popup .body-popup .content-popup .text {
  margin-left: 10px;
}
.popup .body-popup .content-popup .text .text-details {
  font-weight: bold;
}

.popup .body-popup .control-popup {
  height: 60px;
  background: #e5e5e5;
  border-radius: 0 0 4px 4px;
}
.popup .body-popup .control-popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 16px;
  padding: 0 24px;
}
.popup .body-popup .control-popup .button {
  margin: 10px 0;
}
