.table {
  height: 410px;
  overflow: auto;
  position: relative;
  background: #fff;
}
table {
  border-collapse: separate;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;
  border-spacing: 0;
}
tr {
  border-bottom: 1px solid #bbb;
}
th {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 5;
  text-align: left;
}
tr:hover {
  background-color: #e5e5e5;
}
tr:active,
tr:focus {
  background-color: #ebf4ff;
}
td,
th {
  box-sizing: content-box;
  height: 48px;
  padding: 0 10px;
  width: 1px;
  white-space: nowrap;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  color: #454545;
}
/* width / height */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  min-height: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.table::-webkit-scrollbar-track-piece {
  margin-top: 50px;
}
