.tooltip {
  position: relative;
}
.tooltip:after {
  position: absolute;
  background: #f65454;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  width: 150px;
  left: 20%;
  bottom: 50px;
  text-align: center;
  opacity: 90%;
  z-index: 20;
}
.tooltip:before {
  border: solid;
  border-color: #f65454 transparent;
  border-width: 10px 6px 0 6px;
  content: "";
  left: 55%;
  top: -10px;
  position: absolute;
  opacity: 90%;
  z-index: 20;
}
.tooltip:after {
  content: attr(data-content);
}

.border-corlor-red {
  border-color: #f65454 !important;
}
