@import url(./commom/Common.css);
body {
  font-family: MisaGoogleSans !important;
  font-size: 13px !important;
  margin: 0 !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
input {
  font-family: MisaGoogleSans !important;
}
@font-face {
  font-family: MisaGoogleSans;
  src: url(../font/GoogleSans-Regular.otf);
}
@font-face {
  font-family: MisaGoogleSans-Bold;
  src: url(../font/GoogleSans-Bold.otf);
}
@font-face {
  font-family: MisaGoogleSans-Medium;
  src: url(../font/GoogleSans-Medium.otf);
}
