.content {
  position: absolute;
  top: 49px;
  left: 226px;
  border-top: 1px solid #ccc;
  width: calc(100% - 226px);
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  transition: 0.5s all ease;
}
.content .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 12px;
}
.content .title .name-table {
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: bold;
}
.content .control {
  display: flex;
  align-items: center;
  margin: 0 10px 12px;
  column-gap: 12px;
}
.content .control .search {
  margin-right: 10px;
  width: 320px;
}
.content .control .filter-department,
.content .control .filter-employeePositon {
  width: 180px;
}
.content .btn-refresh {
  margin-left: auto;
  background: #fff;
  border: 1px solid #ccc;
}
.content .btn-refresh:hover,
.content .btn-refresh:focus {
  background: #e9ebee;
}
.menu-toggle + .content {
  left: 50px !important;
  width: calc(100% - 50px) !important;
}
