.button {
  height: 40px;
  border-radius: 4px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #019160;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background-color: #2fbe8e;
}
.button:active,
.button:focus {
  background-color: #01b075;
}
