.table {
  max-height: 420px;
  overflow-y: scroll;
  position: relative;
}
table {
  border-collapse: collapse;
  width: calc(100% - 16px);
  box-sizing: border-box;
  margin: 0 8px;
}
th {
  position: sticky;
  top: 0;
  background: #fff;
}
tr:hover {
  background-color: #e5e5e5;
}
tr:active,
tr:focus {
  background-color: #ebf4ff;
}
th {
  text-align: left;
}
td,
th {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 1px;
  white-space: nowrap;
}
