.tooltip-input-required {
  position: relative;
}
.tooltip-input-required:after{
  position: absolute;
  background: #f65454;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  width: 150px;
  left: 30%;
  top: -37px;
  text-align: center;
  opacity: 90%;
  content: attr(data-content);
}
.tooltip-input-required:before {
  border: solid;
  border-color: #f65454 transparent;
  border-width: 10px 6px 0 6px;
  content: "";
  left: 50%;
  bottom: -10px;
  position: absolute;
  opacity: 90%;
}
.tooltip-input-required:after{
  content: attr(data-content);
}

.border-red {
  border-color: #f65454 !important;
}
